<div class="row top-margin">

  <!-- FIXME: inside of box is not responsive, try to use grid inside to layout the 5 elements -->
  <!-- LD BOX START -->
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr />
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
  <!-- LD BOX END -->

  <!-- Manually repeat for 11 more LD's, this will be a repeater in the real app -->
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr>
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr>
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr>
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr>
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr>
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr>
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr>
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr>
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr>
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr>
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
  <div class="span3 ld-border">
    <div class="ld-top-left">
      A1
    </div>
    <div class="ld-top-right pull-right">
      <a href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <hr>
    <div class="ld-center text-center">
      <h4>LD Name</h4>
    </div>
    <div class="ld-bottom-left">
      Scope
    </div>
    <div class="ld-bottom-right pull-right">
      Wile E Coyote
    </div>
  </div>
</div><!-- row -->

<!-- HACK: span10 to make the pagination appear centered relative to grid above -->
<div class="row span10">
  <div class="pagination pagination-large pagination-centered">
    <ul>
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">&lt;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li class="active"><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
      <li><a href="#">&gt;</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>