<div class="row">
  <div class="span6 top-margin">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet enim ac sapien feugiat cursus. Integer ultricies, metus nec rutrum dignissim, magna dui placerat arcu, at rutrum odio orci sed felis. Phasellus sollicitudin accumsan risus et consectetur. Praesent dignissim, purus sed varius fermentum, libero ligula porta arcu, ac dapibus elit risus eu eros. Vestibulum augue risus, lacinia nec egestas nec, iaculis quis leo. Suspendisse ac justo placerat, congue metus quis, adipiscing justo. Cras a sem mi. Nullam aliquet faucibus felis id consequat.</p>
    <p>Maecenas blandit, neque sit amet imperdiet sodales, nisl orci tempor nibh, vel eleifend massa leo adipiscing dui. Donec vitae mi nisi. Ut sed porta velit. Aliquam at vestibulum tortor. Nullam suscipit lacus vel diam consectetur, ac scelerisque massa faucibus. In vitae sapien in tortor iaculis vestibulum. Donec eget fringilla elit, eget cursus turpis. </p>
    <p>In ultricies commodo est quis varius. Aenean metus orci, convallis a libero eu, pharetra mattis nisi. Donec vulputate convallis sapien a scelerisque. Aliquam consequat feugiat hendrerit. Aliquam ac lectus sit amet sapien accumsan congue a ut massa. In suscipit mi id mi pellentesque, non posuere turpis molestie. </p>
  </div>
  <div class="span6">

    <!-- The RegisterCtrl is specified here because this partial also has login form in top nav
          and the route provides it with LoginCtrl. Perhaps a better way would be to combine the Login
          and Registration functions into a single controller specified in the route, then don't need it here -->
    <div ng-controller="RegisterCtrl" class="login-border">
      <form ng-submit="register()" class="form-horizontal">
        <fieldset>

          <legend id="signUpHeader">Sign Up</legend>

          <div id="registrationErrors" ng-show="alertMsg" class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ alertMsg }}
          </div>

          <div class="control-group">
            <div class="controls">
              <input id="firstName" name="firstName" type="text" placeholder="Name" class="input-xlarge" required="" />
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <input id="lastName" name="lastName" type="text" placeholder="Surname" class="input-xlarge" required="" />
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <input ng-model="username" type="email" placeholder="E-mail" class="input-xlarge" required="" />
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <input ng-model="password" type="password" placeholder="Password" class="input-xlarge" required="" />
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <input type="password" placeholder="Retype Password" class="input-xlarge" required="" />
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" value="agreeTermsPrivacy" />
                I agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
              </label>
            </label>
          </div>

        </div>

        <div class="form-actions">
          <button type="submit" class="btn signup btn-large btn-signup">Sign Up</button>
        </div>

      </fieldset>
    </form>
  </div>

</div>
</div>